.host {
    &-container {
      background-color: #fdfdfd;
      min-height: 100vh;
      padding: 30px;
    }
  }
  
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }